
.consulta-video{
    margin-right:-6rem
}

.consulta-video, .consulta-local{
    display:flex;
    align-items:center;
    justify-content:center;
}

.consulta-video span, .consulta-local span{
    font-size:1.2rem;
    font-weight:500;
    background-color:var(--fundo);
    border-radius:23.23rem;
    padding:.2rem .8rem;
    margin-right:1.6rem
}

.menu input, label{
    position:relative;
    top:0
}
